# This is my global .gitignore

#### Windows
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

##### Linux
*~

##### MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
#._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

##### Backup
*.bak
*.gho
*.ori
*.orig
*.tmp

##### GPG
secring.*

##### Dropbox
# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache


##### PuTTY
# Private key
*.ppk

##### OpenSSH / TLS
*.key
*.pem

##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# KEeping vscode settings out
settings.json

# Warcraft Addon Dev specific
/*.iml
/.idea
Libs/AceAddon-3.0/*.toc
Libs/AceBucket-3.0/*.toc
Libs/AceComm-3.0/*.toc
Libs/AceConfig-3.0/*.toc
Libs/AceConfig-3.0/AceConfigCmd-3.0/*.toc
Libs/AceConfig-3.0/AceConfigDialog-3.0/*.toc
Libs/AceConfig-3.0/AceConfigDropdown-3.0/*.toc
Libs/AceConfig-3.0/AceConfigRegistry-3.0/*.toc
Libs/AceConsole-3.0/*.toc
Libs/AceDB-3.0/*.toc
Libs/AceEvent-3.0/*.toc
Libs/AceGUI-3.0/*.toc
Libs/AceGUI-3.0/widgets/*.toc
Libs/AceHook-3.0/*.toc
Libs/AceLocale-3.0/*.toc
Libs/AceLocale-3.0/luac.out
Libs/AceSerializer-3.0/*.toc
Libs/AceTimer-3.0/*.toc
Libs/CallbackHandler-1.0/*.toc

